<header>
    <div class="header-bg">
        <!--Top links-->
        <div class="top-links">
            <div class="row">
                <ul class=" block-grid">
                    <li class="nine columns"><a href="#"><i class="icon-envelope"></i> &nbsp; <span>info@biharshadi.com</span>
                    <li class="three columns hide-for-small">
                        Find us on: &nbsp;
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Follow us on Twitter"><i class="icon-twitter"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on Facebook"><i class="icon-facebook"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on Google+"><i class="icon-google-plus"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Pin us on Pinterest"><i class="icon-pinterest"></i></a>
                        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on LinkedIn"><i class="icon-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end top-links-->

        <div id="header">
            <div class="row">

                <!-- Main Navigation -->
                <div class="five columns push-four">
                    <div class="space-b-20 hide-for-small">&nbsp;</div>
                    <nav class="top-bar">
                        <ul>
                            <!-- Toggle Button Mobile -->
                            <li class="name">
                                <h1><a href="#">Please select your page</a></h1>
                            </li>
                            <li class="toggle-topbar"><a href="#"><i class="icon-reorder"></i></a></li>
                            <!-- End Toggle Button Mobile -->
                        </ul>

                        <section><!-- Nav Section -->
                            <ul class="left">
                                <li><a href="index-2.html"><i class="icon-home"></i> HOME</a></li> 
                                <li class="has-dropdown">
                                    <a href="#">PAGES</a>
                                    <ul class="dropdown">
                                        <li><a href="search-listing.html">Search Listing</a></li>
                                        <li><a href="profile.html">Profile Page</a></li>
                                        <li class="has-dropdown"><a href="#" class="sub-menu-link">Third level menu</a>
                                            <ul class="dropdown">
                                                <li><a href="#" class="sub-menu-link">Sample</a></li>
                                                <li><a href="#" class="sub-menu-link">Sample link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">BLOG</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="single-article.html">Single Article</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section><!-- End Nav Section -->
                    </nav>
                </div>
                <!-- end Main Navigation -->

                <!-- Logo -->
                <div class="four columns pull-five">
                    <h1 id="logo">A premium landing page made for Lovers
                        <a href="index-2.html"><img src="assets/images/logo.png" width="294" height="108" alt="Landing Page HTML Template"></a>
                    </h1>
                </div>
                <!--end logo-->

                <!-- Login/Register/Forgot username/password Modal forms
                -  Hidded by default to be opened through modal
              -  For faster loading we put all forms at the bottom of page -->

                <!--Login buttons-->  
                <div class="three columns login-buttons">
                    <div class="space-b-20 hide-for-small">&nbsp;</div>	
                    <ul class="button-group radius right">
                        <li><a href="#" data-reveal-id="login_panel" class="small secondary button radius"><i class="icon-user hide-for-medium-down"></i> LOG IN</a></li>
                        <li><a href="#" data-reveal-id="register_panel" class="small button radius"><i class="icon-group hide-for-medium-down"></i> SIGN UP</a></li>
                    </ul>
                </div>
                <!--end login buttons-->

                <div class="twelve columns">
                    <div class="row">

                        <!--Form wrapper-->
                        <div class="five columns form-wrapper">
                            <div class="form-header">
                                <p class="lead text-resize">Serious dating with <strong>SweetDate4u</strong><br>Your perfect match is just a click away</p>
                            </div>
                            <!--Search form-->
                            <form action="#" method="post" class="custom form-search">
                                <div class="row">
                                    <div class="five mobile-four columns">
                                        <label class="right inline">I am:</label>
                                    </div>
                                    <div class="seven mobile-four columns">
                                        <select class="expand">
                                            <option selected="selected">Man</option>
                                            <option>Woman</option>
                                        </select>
                                    </div>
                                </div><!--end row-->
                                <div class="row">
                                    <div class="five mobile-four columns">
                                        <label class="right inline">Searching for:</label>
                                    </div>
                                    <div class="seven mobile-four columns">
                                        <select class="expand">
                                            <option selected="selected">Woman</option>
                                            <option>Man</option>
                                        </select>
                                    </div>
                                </div><!--end row-->
                                <div class="row">
                                    <div class="five mobile-one columns">
                                        <label class="right inline">Age:</label>
                                    </div>
                                    <div class="three mobile-one columns">
                                        <select class="expand customDropdown">
                                            <option selected="selected">18</option>
                                            <option>19</option>
                                        </select>
                                    </div>
                                    <div class="one mobile-one columns text-center">
                                        <label class="inline">to</label>
                                    </div>
                                    <div class="three mobile-one columns">
                                        <select class="expand customDropdown">
                                            <option selected="selected">29</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                </div><!--end row-->

                                <div class="row">
                                    <div class="seven offset-by-five columns"><button class="button radius"><i class="icon-search"></i> &nbsp;SEARCH</button></div>
                                </div>
                                <span class="notch"></span>
                            </form>
                            <!--end search form-->
                            <!--Form footer-->
                            <div class="form-footer silver-bg">
                                <p><em>or</em> <strong>choose from last profile entries</strong>
                                    <span class="right hide-for-small">
                                        <a href="#" id="profile-thumbs-prev"><i class="icon-circle-arrow-left icon-large"></i></a>&nbsp;
                                        <a href="#" id="profile-thumbs-next"><i class="icon-circle-arrow-right icon-large"></i></a>
                                    </span>
                                </p>
                                <div class="clearfix"></div>

                                <div class="carousel-profiles responsive">
                                    <ul id="profile-thumbs">
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_01.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_02.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_03.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_04.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_05.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_06.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_07.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_08.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_09.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_10.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_11.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_12.jpg" alt=""></a></li>
                                        <li><a href="#"><img src="assets/images/profile-carousel/thumb_13.jpg" alt=""></a></li>
                                    </ul>
                                </div><!--end carousel-profiles-->
                            </div><!--end form-footer-->

                        </div><!--end form-wrapper-->
                    </div><!--end row-->
                </div><!--end twelve-->
            </div><!--end row-->
        </div><!--end #header-->
    </div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->