<!-- HEADER SECTION
================================================ -->
<header>
<div class="header-bg">
<!--Top links-->
<div class="top-links">
    <div class="row">
    <ul class=" block-grid">
      <li class="nine columns"><a href="mailto:info@biharshadi.com"><i class="icon-envelope"></i> &nbsp;info@biharshadi.com</a></li>
      <li class="three columns hide-for-small">
        Find us on: 
        <a href="#http://www.facebook.com/" class="has-tip tip-bottom" data-width="210" title="Follow us on Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on Facebook"><i class="icon-facebook"></i></a>
        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on Google+"><i class="icon-google-plus"></i></a>
        <a href="#" class="has-tip tip-bottom" data-width="210" title="Pin us on Pinterest"><i class="icon-pinterest"></i></a>
        <a href="#" class="has-tip tip-bottom" data-width="210" title="Find us on LinkedIn"><i class="icon-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>
<!--end top-links-->
  
<div id="header">
    <div class="row">
    
    <!-- Main Navigation -->
    <div class="five columns push-four">
        <div class="space-b-20 hide-for-small">&nbsp;</div>
      <nav class="top-bar">
        <ul>
          <!-- Toggle Button Mobile -->
          <li class="name">
            <h1><a href="#">Please select your page</a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"><i class="icon-reorder"></i></a></li>
          <!-- End Toggle Button Mobile -->
        </ul>
      
        <section><!-- Nav Section -->
          <ul class="left">
            <li><a href="/home"><i class="icon-home"></i> HOME</a></li> 
            <li><a href="/contact"><i class=""></i>Contact Us</a></li>
          </ul>
        </section><!-- End Nav Section -->
      </nav>
    </div>
        <!-- end Main Navigation -->
      
    <!-- Logo -->
    <div class="three columns pull-five">
      <h1 id="logo">BiharShadi
        <a href="/home"><img src="{echo CDN}images/logo.png" width="294" height="108" alt="Bihar Shadi"></a>
      </h1>
    </div>
    <!--end logo-->

    <!-- Login/Register/Forgot username/password Modal forms
        -  Hidded by default to be opened through modal
      -  For faster loading we put all forms at the bottom of page -->
          
    <!--Login buttons-->  
    <div class="four columns login-buttons">
        <div class="space-b-20 hide-for-small">&nbsp;</div> 
      <ul class="button-group radius right">

	{if($user)}
        <li><a href="/users/myaccount"  class="small secondary button radius"><i class="icon-user hide-for-medium-down"></i>{echo $user->name}</a></li>
        <li><a href="/logout" class="small button radius"><i class="icon-group hide-for-medium-down"></i>Logout</a></li>
{/if}
{else}
        <li><a href="#" data-reveal-id="login_panel" class="small secondary button radius"><i class="icon-user hide-for-medium-down"></i> LOG IN</a></li>
        <li><a href="#" data-reveal-id="register_panel" class="small button radius"><i class="icon-group hide-for-medium-down"></i> Register</a></li>
{/else}
      </ul>
    </div>
    <!--end login buttons-->
