  </div><!--end row-->
</div><!--end #header-->
</div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->
<!-- BREADCRUMBS SECTION
================================================ -->
<section>
  <div id="breadcrumbs-wrapp">
    <div class="row">
      <div class="nine columns">
        <ul class="breadcrumbs hide-for-small">
          <li><a href="index.html">Home</a></li>
          <li class="current"><a href="single-article.html">Search result page example</a></li>
        </ul>
      </div>
      
    </div><!--end row-->
  </div><!--end breadcrumbs-wrapp-->
</section>
<!--END BREADCRUMBS SECTION-->





<!-- SEARCH BAR SECTION
================================================ -->
<section>
	<!--Search bar-->
	<div id="search-bar">
  	<div class="row">
      <form action="#" method="post" class="twelve columns custom">
        <div class="row">
          <div class="two columns">
            <label class="inline">Meet people:</label>
          </div>
          <div class="two columns">
            <select class="expand">
              <option selected="selected">I am</option>
              <option>Man</option>
              <option>Woman</option>
            </select>
          </div>
          
          <div class="two columns">
            <select class="expand">
              <option selected="selected">Searching for</option>
              <option>Woman</option>
              <option>Man</option>
            </select>
          </div>
          
          <div class="two columns">
            <select class="expand customDropdown">
              <option selected="selected">Between ages</option>
              <option>18</option>
              <option>19</option>
            </select>
          </div>
          
          <div class="two columns">
            <select class="expand customDropdown">
              <option selected="selected">&amp;</option>
              <option>18</option>
              <option>19</option>
            </select>
          </div>
          
          <div class="two columns">
            <button class="small button radius right"><i class="icon-search"></i> &nbsp;SEARCH</button>
          </div>
          
        </div><!--end row-->
      </form>
    </div><!--end row-->
  </div><!--end Search bar-->
</section>
<!--END SEARCH BAR SECTION-->





<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main" class="search-result text-center">
  	<div class="row">
      <div class="twelve columns">
        <h2>Search profile <span class="pink-text">results</span></h2>
        <p class="lead">Your search returns 24 matches:</p>
        
        <!--Search List-->
        <div class="search-list">
          <div class="four columns">
            <div class="search-item">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_01.jpg" alt="Avatar">
              </div>
              <div class="search-meta">
                <h5 class="author"><a href="#">Hanna Marcovick</a></h5>
                <p class="date">29 | F | Bi | Single | Bremen, Germany</p>
              </div>
              <div class="search-body">
                <p>Hello and welcome to the profile of your next true love. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <p><a href="profile.html" class="small button radius secondary"><i class="icon-angle-right"></i> View profile</a></p>
            </div>
          </div>
          
          <div class="four columns">
            <div class="search-item">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_02.jpg" alt="Avatar">
              </div>
              <div class="search-meta">
                <h5 class="author"><a href="#">Hanna Marcovick</a></h5>
                <p class="date">29 | F | Bi | Single | Bremen, Germany</p>
              </div>
              <div class="search-body">
                <p>Hello and welcome to the profile of your next true love. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <p><a href="profile.html" class="small button radius secondary"><i class="icon-angle-right"></i> View profile</a></p>
            </div>
          </div>
          
          <div class="four columns">
            <div class="search-item">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_03.jpg" alt="Avatar">
              </div>
              <div class="search-meta">
                <h5 class="author"><a href="#">Hanna Marcovick</a></h5>
                <p class="date">29 | F | Bi | Single | Bremen, Germany</p>
              </div>
              <div class="search-body">
                <p>Hello and welcome to the profile of your next true love. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <p><a href="profile.html" class="small button radius secondary"><i class="icon-angle-right"></i> View profile</a></p>
            </div>
          </div>
          
          <div class="four columns">
            <div class="search-item">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_04.jpg" alt="Avatar">
              </div>
              <div class="search-meta">
                <h5 class="author"><a href="#">Hanna Marcovick</a></h5>
                <p class="date">29 | F | Bi | Single | Bremen, Germany</p>
              </div>
              <div class="search-body">
                <p>Hello and welcome to the profile of your next true love. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <p><a href="profile.html" class="small button radius secondary"><i class="icon-angle-right"></i> View profile</a></p>
            </div>
          </div>
          
          <div class="four columns">
            <div class="search-item">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_05.jpg" alt="Avatar">
              </div>
              <div class="search-meta">
                <h5 class="author"><a href="#">Hanna Marcovick</a></h5>
                <p class="date">29 | F | Bi | Single | Bremen, Germany</p>
              </div>
              <div class="search-body">
                <p>Hello and welcome to the profile of your next true love. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <p><a href="profile.html" class="small button radius secondary"><i class="icon-angle-right"></i> View profile</a></p>
            </div>
          </div>
          
          <div class="four columns">
            <div class="search-item">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_06.jpg" alt="Avatar">
              </div>
              <div class="search-meta">
                <h5 class="author"><a href="#">Hanna Marcovick</a></h5>
                <p class="date">29 | F | Bi | Single | Bremen, Germany</p>
              </div>
              <div class="search-body">
                <p>Hello and welcome to the profile of your next true love. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <p><a href="profile.html" class="small button radius secondary"><i class="icon-angle-right"></i> View profile</a></p>
            </div>
          </div>
          
         </div><!--end Search List-->
        
          <!-- Pagination -->
          <div class="row">
            <div class="twelve columns pagination-centered">
              <ul class="pagination">
                <li class="arrow unavailable"><a href=""><i class="icon-chevron-left"></i></a></li>
                <li class="current"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="unavailable"><a href="">&hellip;</a></li>
                <li><a href="">12</a></li>
                <li><a href="">13</a></li>
                <li class="arrow"><a href=""><i class="icon-chevron-right"></i></a></li>
              </ul>
            </div><!--end twelve-->
          </div><!--end row-->
          <!--end  Pagination-->
      
      </div><!--end twelve-->
  	</div><!--end row-->
  </div><!--end #main-->
</section>
<!--END MAIN SECTION-->

  



<!-- TESTIMONIALS SECTION
================================================ -->
<section>
	<div id="testimonials">
  	<div class="row">
    	<div class="twelve columns"><hr>
      	<ul class="testimonials-carousel">
        	<li>
          	<div class="quote-content">
              Absolutely amazing! This was more than worth the purchase! Great job, and thanks for your amazing work!
            </div>
          	<div class="quote-author">
            	<strong>John Doe</strong>
              <span class="author-description"> - Developer, W.T.D. Ltd</span>
            </div>
            
          </li>
          
        	<li class="hide-on-mobile">
            <div class="quote-content">
              Love this theme and so impressed with the customer support!!! Has been great for someone like myself with very little experience! Absolutely Fantastic!
            </div>
            <div class="quote-author">
            	<strong>Elena Doe</strong>
              <span class="author-description"> - Public speaker, MEDIADOT</span>
            </div>
          </li>
          
          <li class="hide-on-mobile">
            <div class="quote-content">
              Constellation is one of the most comprehensive, well-documented, well-planned projects we’ve ever seen. Cheers to great work! Lorem ipsum dolor sit amet, consectetur adipisicing.
            </div>
            <div class="quote-author">
            	<strong>John Doe</strong>
              <span class="author-description"> - Designer, WESTWOOD</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--END TESTIMONIALS SECTION-->





<!-- SUPPORT & NEWSLETTER SECTION
================================================ -->
<section>
  <div id="support">
    <div class="row">
      
      <div class="four columns">
      	<div class="panel">
      		<h4><i class="icon-question-sign"></i> Concerns or questions?</h4>
        	<p>See our support area where you can find questions asked by our clients and answered by the Seven<sup>th</sup>Queen team.</p>
          <a href="http://themeforest.net/user/SeventhQueen" class="small button radius secondary" target="_blank"><i class="icon-angle-right"></i> SEE SUPORT AREA</a>
    		</div><!--end panel-->
      </div>
      
      <div class="eight columns">
      	<div class="panel">
      		<h4><i class="icon-thumbs-up"></i> NEWSLETTER SIGNUP</h4>
        	<p>By subscribing to our mailing list you will always be update with the latest news from us.</p>
          
          <!--Newsletter form-->
          <form id="newsletter-form" name="newsletter-form" method="post" class="row">
            <div class="four columns">
              <div class="row collapse">
                <div class="two mobile-one columns">
                	<span class="prefix"><i class="icon-user"></i></span>
                </div>
                <div class="ten mobile-three columns">
                	<input type="text" name="yname" id="yname" placeholder="Your name" required>
                </div>
              </div>
            </div>
            <div class="five columns">
              <div class="row collapse">
                <div class="two mobile-one columns">
                	<span class="prefix"><i class="icon-envelope"></i></span>
                </div>
                <div class="ten mobile-three columns">
                	<input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
              </div>
            </div>
            <div class="three columns">
            	<p><button type="submit" id="newsletter-submit" name="newsletter-submit" class="small radius button expand">JOIN US</button></p>
            </div>
						<div class="twelve column">
              <div><small id="result">* It really works! <a href="http://mailchimp.com/" target="_blank">Mailchimp Integration.</a></small></div>
            	<small><i class="icon-lock"></i> <strong>Your <a href="#">privacy</a> is important to us and we will never rent or sell your information.</strong></small>            	
            </div>
          </form><!--end newsletter-form-->
    		</div><!--end panel-->
      </div>
      
    </div><!--end row-->
  </div><!--end support-->
</section>
<!--END SUPPORT & NEWSLETTER SECTION-->