<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BiharShadi</title>
        <!--Meta-->
        <meta name="description"  content="Matrimonial Site for Bihar">
        <meta name="author"  content="Bihar Shadi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{echo CDN}styles/foundation.min.css">
        <!--Plugins-->
        <link rel="stylesheet" href="{echo CDN}styles/font-awesome.min.css">
        <link rel="stylesheet" href="{echo CDN}styles/prettyPhoto.css">


        <!--Main Stylesheet (change this to modify template)-->
        <link rel="stylesheet" href="{echo CDN}styles/app.css">
        <link rel="stylesheet" href="{echo CDN}styles/updates.css">
        <link rel="stylesheet" href="{echo CDN}styles/custom.css">


        <!--Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>

        <!--Favicons-->
        <link rel="shortcut icon" href="{echo CDN}images/icons/favicon.ico">

        <!-- jQuery & Foundation Framework -->
        <script type="text/javascript" src="{echo CDN}scripts/modernizr.foundation.js"></script> 
    </head>
    <body>
        <div class="page wide-style">

            {include layouts/navigation/standard.html}
            {ayield action}

            <p id="btnGoUp">Go up</p>
        </div>
        
        
        <script type="text/javascript" src="{echo CDN}scripts/jquery.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/foundation.min.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>
        
        <!-- optionally include helper for carouFredSel plugins -->
        <script type="text/javascript" src="{echo CDN}scripts/plugins/carouFredSel/helper-plugins/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/carouFredSel/helper-plugins/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/carouFredSel/helper-plugins/jquery.transit.min.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/carouFredSel/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/retina/retina.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/knob/jquery.knob.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/fittext/jquery.fittext.js"></script>
        <script type="text/javascript" src="{echo CDN}scripts/plugins/quovolver/jquery.quovolver.js"></script><!--Quote rotator-->
        <script type="text/javascript" src="{echo CDN}scripts/plugins/backgroundSize/jquery.backgroundSize.js"></script><!--BackgroundSize for IE8-->
        <script type="text/javascript" src="{echo CDN}scripts/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>


        <!-- Custom JS effects, tweaks and inits -->
        <script type="text/javascript" src="{echo CDN}scripts/app.js"></script>

    </body>
</html>