  </div><!--end row-->
</div><!--end #header-->
</div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->

<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main">
      <!-- Begin Article -->
      <div class="row">
        <div class="twelve columns">
          <h2 class="article-title"><a href="#"><span class="pink-text">About Us</span></a></h2>
        </div><!--end twelve-->
        
        <div class="twelve columns">
          <div class="article-content">
            <p>BiharShadi.com is a India based private matchmaking website made for individuals specially Bihari who are living in India, UK, USA, UAE, Mautitius.
 
            BiharShadi Indian Matrimonials is a unique site for marriage minded bihari Indians in India and around the world. If you are bihari and are serious about marriage then here are the reasons for using Biharshadi Indian Matrimonials.
            Many of these fine people can only be found on biharshadi matrimonial site. So create an matrimonial account and take a look at thousands of descriptive bihari matrimonial profiles; many with photos. You are bound to find that special person you have been looking for in all the wrong places. Biharshadi.com is leading Bihar matrimonial website of India. </p>
            
            <blockquote>
              <div class="blog-slider">
              <div data-thumb="{echo CDN}images/blog_slider_00.jpg">
                <img src="{echo CDN}images/blog_slider_00.jpg" alt="">
              </div>
              <div data-thumb="{echo CDN}images/blog_slider_01.jpg">
                <img src="{echo CDN}images/blog_slider_01.jpg" alt="">
              </div>
            </div><!--end blog-slider-->
            </blockquote>
             
            <p>We have in our database thousands of matrimonial profiles from Ara, Arrah, Araria, Aurangabad, Banka, Begusarai, Bhabua, Bhagalpur, Bhojpur, Buxar, Darbhanga, Gaya, Gopalganj, Jahanabad, jamui, Kathihar, Khagaria, Kishanganj, Luckeesarai, Madhepura, Madhubani, Munger, Muzaffarpur, Nalanda, Nawada, Champaran, Patna, Purbi, Purnia, Rohtas, Saharsa, Samastipur, Saran, Sheikhpura, Sheohar, Sitamarhi, Siwan, Supaul, Vaishali and other regions of Bihar and NRI Bihari.</p>
            
          </div><!--end article-content-->
        </div><!--end twelve-->
      </div><!--end row-->
      <!-- End  Article -->
  </div><!--end main-->
</section>
<!--END MAIN SECTION-->