  </div><!--end row-->
</div><!--end #header-->
</div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->




<!-- BREADCRUMBS SECTION
================================================ -->
<section>
  <div id="breadcrumbs-wrapp">
    <div class="row">
      <div class="nine columns">
        <ul class="breadcrumbs hide-for-small">
          <li><a href="/home">Home</a></li>
          <li class="current"><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      
    </div><!--end row-->
  </div><!--end breadcrumbs-wrapp-->
</section>
<!--END BREADCRUMBS SECTION-->





<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main">
  	<div class="row">
    <div class="seven columns">
      <!-- Begin Comments -->
      <div class="comments">
        <h4>Contact Us</h4><br>
        <!--Leave comment form-->
        <form action="#" method="post" class="leave-comment clearfix">
          <div class="row">
            <div class="six columns">
              <label>Name<span> (required)</span></label>
              <input type="text" name="com-name" id="com-name" required>
            </div>
            <div class="six columns">
              <label>E-mail<span> (required)</span></label>
              <input type="email" name="com-email" id="com-email" required>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>Message<span> (required)</span></label>
              <textarea required></textarea>
            </div>
          </div>
          <button type="submit" class="radius button right">Send message</button>     
        </form><!--end leave-comment-->
      </div><!-- End Comments -->
      
    </div><!--end seven-->

    <div class="five columns">
      <!-- Begin Comments -->
      <div class="comments">
        <h4>Reach to Us</h4><br>
        <div class="panel">
          <h4><i class="icon-question-sign"></i> Concerns or questions?</h4>
          <br/>
          <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Email</label>
              </div>
              <div class="seven mobile-four columns">
                info@biharshadi.com
              </div>
            </div><!--end row-->
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Contact No.</label>
              </div>
              <div class="seven mobile-four columns">
                +91-8826790104
              </div>
            </div><!--end row-->
        </div>
      </div><!-- End Comments -->
      
    </div><!--end seven-->
</div>
</div>
</section>