 <div class="twelve columns">
      <div class="row">
      
        <!--Form wrapper-->
        <div class="five columns form-wrapper">
          <div class="form-header">
            <p class="lead text-resize">Search on <strong>Bihar Shadi</strong><br>For your perfect Life partner</p>
          </div>
          <!--Search form-->
          <form action="/users/" method="post" class="custom form-search">
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Searching for :</label>
              </div>
              <div class="seven mobile-four columns">
                <select class="expand" name="gender">
                  <option selected="selected">Woman</option>
                  <option>Man</option>
                </select>
              </div>
            </div><!--end row-->
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Religion :</label>
              </div>
              <div class="seven mobile-four columns">
                <select class="expand" name="religion">
                  <option>Religion</option>
                  <option>Hindu</option>
                  <option>Muslim</option>
                  <option>Bodh</option>
                  <option>Christian</option>
                  <option>Jain</option>
                  <option>Sikh</option>
                </select>
              </div>

            </div><!--end row-->
            <div class="row">
              <div class="five mobile-four columns">
                <label class="right inline">Caste :</label>
              </div>
              <div class="seven mobile-four columns" name="caste">
                <select class="expand">
                  <option>Caste</option>
                  <option>Hindu</option>
                  <option>Muslim</option>
                  <option>Bodh</option>
                  <option>Christian</option>
                  <option>Jain</option>
                  <option>Sikh</option>
                </select>
              </div>
              
            </div><!--end row-->
            <div class="row">
              <div class="five mobile-one columns">
                <label class="right inline">Age Between :</label>
              </div>
              <div class="three mobile-one columns">
                <select class="expand customDropdown" name="age_b">
                  <option selected="selected">18</option>
                  <option>19</option>
                </select>
              </div>
              <div class="one mobile-one columns text-center">
                <label class="inline">to</label>
              </div>
              <div class="three mobile-one columns">
                <select class="expand customDropdown" name="age_l">
                  <option selected="selected">29</option>
                  <option>30</option>
                </select>
              </div>
            </div><!--end row-->
            
            <div class="row">
              <div class="seven offset-by-five columns"><button class="button radius" type="submit"><i class="icon-search"></i> &nbsp;SEARCH</button></div>
            </div>
            <span class="notch"></span>
		<input type="hidden" name="psearch" value="search">
          </form>
          <!--end search form-->
  
        </div><!--end form-wrapper-->
      </div><!--end row-->
    </div><!--end twelve-->
  </div><!--end row-->
</div><!--end #header-->
</div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->





<!-- CALL TO ACTION SECTION
================================================ -->
<section>
  <div id="call-to-actions" class="silver-bg">
    <div class="row map-bg">
    
      <div class="twelve columns">
        <h1 class="section-title">It all starts with a <span class="pink-text">Date</span></h1>
        <p class="lead">You find us, finally, and you are already in love. More than <span class="pink-text">5000</span> in Bihar already shared the same experience and uses our system. <strong class="black-text">Joining us today just got easier!</strong></p>
      
        
        <!--Take action-->
        <div class="take-action">
          <ul class="button-group radius expand left">
            <li><a href="#" class="button large expand alert">Join us for FREE</a></li>
          </ul>
        </div>
        <!--end take-action-->
      </div><!--end twelve-->

        <!--Status Icons-->
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="{echo CDN}images/icons/steps/status_01.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">5 thousand</li>
            <li class="subtitle">Members in total</li>
          </ul>
        </div>
        
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="{echo CDN}images/icons/steps/status_02.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">947</li>
            <li class="subtitle">Successful Marriges </li>
          </ul>
        </div>
        
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="{echo CDN}images/icons/steps/status_03.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">530</li>
            <li class="subtitle">Ready to be <b>Bride</b></li>
          </ul>
        </div>
        
        <div class="status three columns mobile-one">
          <div class="icon" data-animation="pulse">
            <img src="{echo CDN}images/icons/steps/status_04.png" width="213" height="149" alt="">
          </div>
          <ul class="block-grid">
            <li class="title">417</li>
            <li class="subtitle">Ready to be <b>Groom</b></li>
          </ul>
        </div>
        <!--end status icons-->
      
    </div><!--end row map-bg-->
  </div><!--end call-to-actions-->
</section>
<!--END CALL TO ACTION SECTION-->





<!-- FEATURED TEXT SECTION
================================================ -->
<section>
  <div id="feature-text" class="text-center">
    <div class="row">
      <div class="twelve columns">
        <h2><span class="no-bg">Why Choose To <span class="pink-text">Become a Member?</span></span></h2>
        <p class="lead">Here you have some reasons and some features. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div><!--end twelve-->
      
      <ul class="no-bullet">
        <li class="four columns">
          <div class="circle">
            <a href="{echo CDN}images/small_thumb_01.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <img src="{echo CDN}images/small_thumb_01.png" alt="">
            </a>
          </div>
          <h4>100% for FREE</h4>
          <p>You can register and create your profile for FREE! We are also promoting no dawry marriges.</p>
          <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> READ MORE</a></p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a href="{echo CDN}images/cast.jpeg" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <img src="{echo CDN}images/cast.jpeg" alt="">
            </a>
          </div>
          <h4>Matching compatible partner</h4>
          <p>Invite friends to help you find your perfect match. We respect your personal views and we have match for the same caste and religion.</p>
          <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> READ MORE</a></p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a href="{echo CDN}images/small_thumb_03.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <img src="{echo CDN}images/small_thumb_03.png" alt="">
            </a>
          </div>
          <h4>Mutual Understanding</h4>
          <p>Its important to know each other before getting married. We provide an enviorment for mutual understanding.</p>
          <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> READ MORE</a></p>
        </li>
      </ul>
    </div><!--end row-->
  </div><!--end feature-text-->
</section>
<!--END FEATURED TEXT SECTION-->

  



<!-- TESTIMONIALS SECTION
================================================ -->
<section>
  <div id="testimonials">
    <div class="row">
      <div class="twelve columns"><hr>
        <ul class="testimonials-carousel">
          <li>
            <div class="quote-content">
              Absolutely amazing! This was more than worth the purchase! Great job, and thanks for your amazing work!
            </div>
            <div class="quote-author">
              <strong>John Doe</strong>
              <span class="author-description"> - Developer, W.T.D. Ltd</span>
            </div>
            
          </li>
          
          <li class="hide-on-mobile">
            <div class="quote-content">
              Love this theme and so impressed with the customer support!!! Has been great for someone like myself with very little experience! Absolutely Fantastic!
            </div>
            <div class="quote-author">
              <strong>Elena Doe</strong>
              <span class="author-description"> - Public speaker, MEDIADOT</span>
            </div>
          </li>
          
          <li class="hide-on-mobile">
            <div class="quote-content">
              Constellation is one of the most comprehensive, well-documented, well-planned projects we’ve ever seen. Cheers to great work! Lorem ipsum dolor sit amet, consectetur adipisicing.
            </div>
            <div class="quote-author">
              <strong>John Doe</strong>
              <span class="author-description"> - Designer, WESTWOOD</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--END TESTIMONIALS SECTION-->
