  </div><!--end row-->
</div><!--end #header-->
</div><!--end header-bg-->
</header>
<!--END HEADER SECTION-->
<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main">
  	<div class="row">
    
    <div class="seven columns">
    	
      <!--Info Tabs-->
      <dl class="tabs info three-up">
        <dd class="active"><a href="#info">Info</a></dd>
        <dd><a href="#messages">Messages <span class="radius label">14</span></a></dd>
        <dd><a href="#favorites"><i class="icon-star-empty"></i> Favorites</a></dd>
      </dl>
      
      <!--Content Info Tabs-->
      <ul class="tabs-content">
      	<!--First Info Tab Content-->
        
        <li class="active" id="infoTab">
        <form action="" method="post">
        	<ul class="accordion">
            <li>
              <h5 class="accordion-title">My self-summary<span class="accordion-icon"></span></h5>
              <div class="accordion-content" style="width:100%">
              <textarea name="self_summary" placeholder="Write about Your self"></textarea>
               <br>
                <h6>Favorite books, movies, shows, music and food</h6>
              <textarea name="favourites" placeholder="Eg. I love home made foods"></textarea>
              <br>
                <h6>The five things with I can not compromise</h6>
                  <textarea type="text" name="ncompromise" placeholder="I don't want any one interfaring me with my friends"></textarea>
              </div>
            </li>
             
            <li>
              <h5 class="accordion-title">Life style<span class="accordion-icon"></span></h5>
              <div class="accordion-content">
                <dl class="dl-horizontal">
                  <dt>Favorite Vacations Spot</dt><dd>Hawaii</dd>
                  <dt>Members In Family</dt><dd><input type="number" name="fmembers"></dd>
                  <dt>Family Type</dt><dd>
                    <select name="family">
                      <option>Single</option>
                      <option>Joint</option>
                    </select>
                  </dd>
                  <dt>Staus</dt><dd>
                    <select name="status">
                      <option>Single</option>
                      <option>Spouse Died</option>
                      <option>Divorced</option>
                    </select>
                  </dd>
                  <dt>Smoking</dt><dd>
                    <select name="smoking">
                      <option>No</option>
                      <option>Yes, Regularly</option>
                      <option>Yes, Occasionaly</option>
                    </select>
                  </dd>
                  <dt>Drinking</dt><dd>
                    <select name="drinking">
                      <option>No</option>
                      <option>Yes, Regularly</option>
                      <option>Yes, Occasionaly</option>
                    </select>
                  </dd>
                  <dt>Language You Know</dt><dd><input type="text" name="languages"></dd>
                </dl>
              </div>
            </li>
             
            <li>
            	<h5 class="accordion-title">Educational & Physical<span class="accordion-icon"></span></h5>
              <div class="accordion-content">
                <dl class="dl-horizontal">
                  <dt>Height</dt><dd><input type="text" name="height"></dd>
                  <dt>Weight</dt><dd><input type="text" name="weight"></dd>
                  <dt>Rashi (*)</dt><dd><input type="text" name="rashi"></dd>
                  <dt>Profession</dt><dd>
                  <select name="profession">
                    <option>Engineer</option>
                    <option>Doctor</option>
                    <option>Teacher</option>
                    <option>Army</option>
                    <option>Officer in Bank</option>
                    <option>Officer in Railway</option>
                    <option>Officer in Government</option>
                    <option>Police</option>
                    <option>Others</option>
                  </select>
                </dd>
                  <dt>Highest Qualification</dt><dd><input type="text" name="qualification"></dd>
                  <dt>Currently in Job</dt><dd>
                  <select name="job_status">
                    <option>No</option>
                    <option>Yes</option>
                  </select>
                </dd>
                </dl>
              </div>
            </li>
        	</ul>
          <div style="margin-top:50px"><center>
          <input type="hidden" name="update_info" value="update">
          <button type="submit"  name="info_update" class="radius alert button"><i class="icon-heart"></i> &nbsp;Update Details</button></center></div>
          </form>
        </li>
        
        
        <!--Second Info Tab Content-->
        <li id="messagesTab">
          
          <div class="messages">
            <h4>You have (5) sweet messages:</h4>
            
            <!--Messages Lists-->
            <ol class="messages-list">
          		
              <li class="message">
                <div class="avatar">
                  <img src="{echo CDN}images/profile-carousel/thumb_01.jpg" width="50" height="50" alt="Avatar">
                </div>
                <div class="message-meta">
                  <h5 class="author"><a href="#">Davaki L. says:</a> - <a href="#" class="message-reply-link show-form"><i class="icon-reply"></i> Message to</a> - <a href="#" class="message-reply-link"><i class="icon-star-empty"></i> Favorite</a></h5>
                  <p class="date">January 06, 2011</p>
                </div>
                <div class="message-body clearfix">
                  <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                </div>
                
                <!--Reply message form-->
                <form action="#" method="post" class="leave-message clearfix">
                  <fieldset>
                    <legend>Write me a sweet message :)</legend>
                    <div class="row">
                      <div class="six columns">
                        <label>Name<span> (required)</span></label>
                        <input type="text" name="msg-name" id="msg-name" required>
                      </div>
                      <div class="six columns">
                        <label>E-mail<span> (required)</span></label>
                        <input type="email" name="msg-email" id="msg-email" required>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="twelve columns">
                        <label>Message<span> (required)</span></label>
                        <textarea required></textarea>
                      </div>
                    </div>
                    
                    <button type="submit" class="radius button right">Send message</button>
                  </fieldset>          
                </form><!--end Reply message form-->
              </li>
              
              <li class="message">
                <div class="avatar">
                  <img src="{echo CDN}images/profile-carousel/thumb_02.jpg" width="50" height="50" alt="Avatar">
                </div>
                <div class="message-meta">
                  <h5 class="author"><a href="#">Davaki L. says:</a> - <a href="#" class="message-reply-link"><i class="icon-reply"></i> Message to</a> - <a href="#" class="message-reply-link"><i class="icon-star"></i> Favorite</a></h5>
                  <p class="date">January 06, 2011</p>
                </div>
                <div class="message-body">
                  <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                </div>
              </li>
              
              <li class="message">
                <div class="avatar">
                  <img src="{echo CDN}images/profile-carousel/thumb_03.jpg" width="50" height="50" alt="Avatar">
                </div>
                <div class="message-meta">
                  <h5 class="author"><a href="#">Davaki L. says:</a> - <a href="#" class="message-reply-link"><i class="icon-reply"></i> Message to</a> - <a href="#" class="message-reply-link"><i class="icon-star"></i> Favorite</a></h5>
                  <p class="date">January 06, 2011</p>
                </div>
                <div class="message-body">
                  <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                </div>
              </li>
              
              <li class="message">
                <div class="avatar">
                  <img src="{echo CDN}images/profile-carousel/thumb_12.jpg" width="50" height="50" alt="Avatar">
                </div>
                <div class="message-meta">
                  <h5 class="author"><a href="#">Davaki L. says:</a> - <a href="#" class="message-reply-link"><i class="icon-reply"></i> Message to</a> - <a href="#" class="message-reply-link"><i class="icon-star-empty"></i> Favorite</a></h5>
                  <p class="date">January 06, 2011</p>
                </div>
                <div class="message-body">
                  <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                </div>
                
                <!--Message Reply-->
                <ul class="children">
                  <li class="message">
                    <div class="avatar">
                      <img src="{echo CDN}images/profile-carousel/thumb_13.jpg" width="50" height="50" alt="Avatar">
                    </div>
                    <div class="message-meta">
                      <h5 class="author"><a href="#">John Doe</a> - <a href="#" class="message-reply-link"><i class="icon-reply"></i> Message to</a></h5>
                      <p class="date">January 06, 2011</p>
                    </div>
                    <div class="message-body">
                      <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
                    </div>
                  </li>
                </ul><!--end Message Reply-->
              </li>
          
            </ol><!--end messages-list-->
          </div><!--end messages-->
				</li><!--end messagesTab-->
          
        <!--Third Info Tab Content-->
        <li id="favoritesTab">
          <ol class="messages-list">          		
            <li class="message">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_02.jpg" width="50" height="50" alt="Avatar">
              </div>
              <div class="message-meta">
                <h5 class="author"><a href="#">Davaki L. says:</a> - <a href="#" class="message-reply-link"><i class="icon-reply"></i> Message to</a> - <a href="#" class="message-reply-link"><i class="icon-star"></i> Favorite</a></h5>
                <p class="date">January 06, 2011</p>
              </div>
              <div class="message-body">
                <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
              </div>
            </li>
            <li class="message">
              <div class="avatar">
                <img src="{echo CDN}images/profile-carousel/thumb_03.jpg" width="50" height="50" alt="Avatar">
              </div>
              <div class="message-meta">
                <h5 class="author"><a href="#">Davaki L. says:</a> - <a href="#" class="message-reply-link"><i class="icon-reply"></i> Message to</a> - <a href="#" class="message-reply-link"><i class="icon-star"></i> Favorite</a></h5>
                <p class="date">January 06, 2011</p>
              </div>
              <div class="message-body">
                <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
              </div>
            </li>
          </ol>
        </li>
      </ul><!--end Content Info Tabs-->
    </div><!--end seven-->
    
    
    
    
    
    <!-- SIDEBAR SECTION
		================================================ -->
    <aside class="four columns offset-by-one hide-for-small">
      
      <h1 class="sweetfont left">$user->name</h1>
      
    	<!--Widgets Container-->
      <div class="widgets-container ">
      <img  class="img-circle" src="{echo CDN}images/gallery-carousel/big_image_profile_00.jpg" alt="">
      </div>
        
        <div class="widgets clearfix">
          <h5>Your Photos</h5>
          <br>
          <ul class="block-grid three-up latest-entries">
            <li><span class="avatar"><a href="#" title="Dating profile 1"><img src="{echo CDN}images/profile-carousel/thumb_01.jpg" alt="Dating profile 1"></a></span></li>
            <li><span class="avatar"><a href="#" title="Dating profile 2"><img src="{echo CDN}images/profile-carousel/thumb_02.jpg" alt="Dating profile 2"></a></span></li>
            <li><span class="avatar"><a href="#" title="Dating profile 3"><img src="{echo CDN}images/profile-carousel/thumb_03.jpg" alt="Dating profile 3"></a></span></li>
            <li><span class="avatar"><a href="#" title="Dating profile 4"><img src="{echo CDN}images/profile-carousel/thumb_04.jpg" alt="Dating profile 4"></a></span></li>
            <li><span class="avatar"><a href="#" title="Dating profile 5"><img src="{echo CDN}images/profile-carousel/thumb_05.jpg" alt="Dating profile 5"></a></span></li>
            <li><span class="avatar"><a href="#" title="Dating profile 6"><img src="{echo CDN}images/profile-carousel/thumb_06.jpg" alt="Dating profile 6"></a></span></li>
          </ul>
        </div>
     
      </div> <!--end Widgets Container-->
    </aside> <!--end four columns-->
    <!--END SIDEBAR SECTION-->
    
    </div><!--end row-->
  </div><!--end main-->
</section>
<!--END MAIN SECTION-->